@import '_mixin.scss';
@import '_generals.scss';

.container {
    width: 100vw;
}

.ball1 {
    @include ball (yellow);
    @include animation (0s, 3s);
}

.ball2 {
    @include ball (green);
    @include animation (1s, 5s);
}

.ball3 {
    @include ball (red);
    @include animation (2s, 10s);
}

@keyframes ballRollt {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(1340px);
    }

    100% {
        transform: translateX(0);
    }
}